<h1>Spiderman</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Metodo:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitazlizado:</td>
  <dd>{{ capitalizedName }}</dd>

  <button *ngIf="name !== 'spiderman'" (click)="changeHero()" class="btn btn-primary mx-2">Cambiar Nombre</button>

  <button *ngIf="age !== 77" (click)="changeAge()" class="btn btn-primary mx-2">Cambiar Edad</button>
  <button (click)="resetForm()" class="btn btn-primary mx-2">Reset Form</button>
</dl>
